@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #333;
}

.wrap {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb {
    display: flex;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    padding: 0 60px;
    height: 100px;
    line-height: 100px;
}

.gnb ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #eee;
}

.gnb ul a {
    display: block;
    text-align: center;
    padding: 12px 0;
}

.gnb ul a:hover {
    background-color: #999;
    color: #fff;
}

.slider {
}

.slides {
    display: flex;
}

.slide {
    position: relative;
}

.slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 50px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
}

.contents {
    display: flex;
    height: 200px;
    padding: 10px 0;
    gap: 15px;
}

.contents > div {
    width: 390px;
    height: 180px;
}

.tab .titles {
    display: flex;
    gap: 4px;
    border-bottom: 2px solid orangered;

}

.tab .titles h3 {
    height: 46px;
    background-color: #ddd;
    width: 193px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
}

.tab .titles h3.active {
    background-color: orangered;

}

.tab .items {

    padding: 10px;
}

.notice_list li {
    padding: 3px 0;
}

.tab .items li a {
    display: flex;
    justify-content: space-between;
}

.tab .items li a:hover span:first-child {
    text-decoration: underline;
}

.banner img, .link img {
    /* display: block; */
    width: 390px;
    height: 180px;
    object-fit: cover;
}

.gallery_list {
    display: none;
}
